.index-header {
  background: #F28322;
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.website-logo {
  width: 8em;
}

@media (max-width: 800px) {
  .index-header-left-section {
    width: unset;
  }
}

@media (max-width: 575px) {
  .website-logo {
    display: none;
  }
}